#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        zephyr,display = &oled;
    };

    // =========================================================
    // 1. HARDWARE MATRIX SCANNER (nice!nano Columns + Expander Rows)
    // =========================================================
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        // 7 Central column nodes routed straight to nice!nano side pins
        col-gpios
            = <&gpio0 11 GPIO_ACTIVE_HIGH> // C0 (D7)
            , <&gpio1 4  GPIO_ACTIVE_HIGH> // C1 (D8)
            , <&gpio1 6  GPIO_ACTIVE_HIGH> // C2 (D9)
            , <&gpio0 31 GPIO_ACTIVE_HIGH> // C3 (D21)
            , <&gpio0 29 GPIO_ACTIVE_HIGH> // C4 (D20)
            , <&gpio1 15 GPIO_ACTIVE_HIGH> // C5 (D18)
            , <&gpio1 13 GPIO_ACTIVE_HIGH> // C6 (D15)
            ;

        row-gpios
            = <&pca9555 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&pca9555 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&pca9555 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&pca9555 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&pca9555 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&pca9555 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&pca9555 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            , <&pca9555 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> 
            ;
    };


    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <7>; 
        rows = <8>;    

        map = <
    // Physical Row 1 (12 keys)
            RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5)
    
    // Physical Row 2 (14 keys)
    RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5) RC(5,6)
    
    // Physical Row 3 (14 keys)
    RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(6,0) RC(6,1) RC(6,2) RC(6,3) RC(6,4) RC(6,5) RC(6,6)
    
    // Physical Row 4 (10 thumb keys)
    RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,0)         RC(7,4) RC(7,0) RC(7,1) RC(7,2) RC(7,3)
        >;
    };

    // =========================================================
    // 3. PHYSICAL ENCODERS
    // =========================================================
    encoder_1: encoder_1 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D4
        b-gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D5
        steps = <80>;
    };

    encoder_2: encoder_2 {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D6
        b-gpios = <&gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; // D19
        steps = <80>;
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_1 &encoder_2>;
        triggers-per-rotation = <20>;
    };
};

// =========================================================
// 4. SHARED I2C BUS (OLED Display + PCA9555 Expander)
// =========================================================
&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>; 

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
    };

    pca9555: pca9555@20 {
        compatible = "nxp,pca95xx";
        status = "okay";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        ngpios = <16>;
        interrupt-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // D1 Pin
    };
};
