#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // =========================================================================
            // DEFAULT LAYOUT LAYER (12 + 14 + 14 + 10 = Exactly 50 Bindings)
            // =========================================================================
            bindings = <
    // Physical Row 1 (12 keys - Clean Top Alpha Row)
             &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp LBKT  &kp RBKT
    
    // Physical Row 2 (14 keys - Complete Home Alpha Row)
            &kp ESC   &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp SEMI &kp SQT   &kp NON_US_HASH &kp RET
    
    // Physical Row 3 (14 keys - Complete Bottom Alpha Row)
            &kp TAB   &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH  &kp RSHFT &kp UP    &kp BSPC
    
    // Physical Row 4 (10 thumb/encoder keys - C_MUTE & RIGHT are your encoder buttons)
            &kp LCTRL &kp LCMD &none  &kp SPACE  &kp C_MUTE   &none  &kp ENTER  &none    &kp RCMD  &kp LALT
            >;

            // Encoder Left: Volume Control | Encoder Right: Page Nav Scrolling
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
