if SHIELD_CHOPPER_UNIBODY

config ZMK_KEYBOARD_NAME
    default "Chopper Unibody"
    
config ZMK_DISPLAY
    default y

config ZMK_DISPLAY_STATUS_SCREEN_BUILTIN
    default y

config EC11
    default y

config EC11_TRIGGER_GLOBAL_THREAD
    default y

endif
